Repository ReDI-School/S25-Full-Stack-Circle, pull requests merged in 2025-05, with the labels that each got.

#188 158 backend user endpoint
  backend/.env.text
  backend/.gitignore
  backend/package.json
  backend/prisma/migrations/20250425150532_init/migration.sql
  backend/prisma/migrations/20250506205137_add_email_password_fields/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/userController.js
  backend/src/index.js
  backend/src/routes/userRoute.js
  package-lock.json
Labels: backend

#175 Add functionality to see more button.
  frontend/README.md
  frontend/src/components/ExplorePage/BrowseByCategory.jsx
  frontend/src/components/ExplorePageSection1/BestOfPinterestSection.jsx
  frontend/src/components/ExplorePageSection1/BestOfPinterestSection.module.css
  frontend/src/components/ExplorePageSection1/cardDetails.js
Labels: Explore Page, frontend

#178 Update ImageDetailPage
  frontend/src/components/ExplorePageSection1/CardDetailPage.jsx
  frontend/src/components/PinDetail.module.css
  frontend/src/components/PinDetailComponent.jsx
  frontend/src/pages/Detail.module.css
  frontend/src/pages/ImageDetailPage.jsx
  frontend/src/pages/ImageDetailPage/CommentSection.jsx
  frontend/src/pages/ImageDetailPage/CommentSection.module.css
  frontend/src/pages/ImageDetailPage/ShopItem.jsx
  frontend/src/pages/ImageDetailPage/ShopItem.module.css
Labels: Explore Detail Page, frontend
